#login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
#confeti {
  position: absolute;
  width: 100%;
  height: 100%;
}
#confeti img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.viewbx_wrapper {
  width: 35rem;
  padding: 30px;
  border-radius: 5px;
}
.viewbx_wrapper .viewbx_header h2 {
  font-size: 1.9rem;
}
.viewbx_wrapper .viewbx_header p {
  font-weight: 500;
  color: var(--grey-color);
}
#input_wrapper {
  margin-top: 10px;
  width: 100% !important;
  position: relative;
}
#input_wrapper input {
  width: 100%;
  height: 45px;
  padding-left: 46px;
  border: 2px solid #bfbfbf;
  outline: none;
  border-radius: 3px;
}
#input_wrapper input:is(:active, :focus) {
  caret-color: var(--blue-second-color);
  border-color: var(--blue-second-color);
}
#input_wrapper input:is(:active, :focus) ~ i#left {
  color: var(--blue-fourth-color);
}
#input_wrapper {
  position: relative;
}
#input_wrapper i#left {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #bfbfbf;
}
#input_wrapper i#right {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #bfbfbf;
  cursor: pointer;
}
#button_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
#button_wrapper button {
  width: 100px;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--blue-fourth-color);
  color: #fff;
  cursor: pointer;
}
#button_wrapper button:is(:hover) {
  background-color: var(--blue-fifth-color);
}
#button_wrapper button i {
  transition: all 0.3s ease;
}
#button_wrapper button:hover i {
  transform: translateX(5px);
}
#pager {
  text-align: center;
}
#pager p {
  margin-top: 20px;
  font-weight: 500;
}
#pager p a {
  text-decoration: none;
  color: black;
  text-align: center;
}
#pager p a:hover {
  text-decoration: underline;
  color: var(--blue-fifth-color);
}
#ifo p {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--blue-fourth-color);
  text-align: center;
}
#magicLink_wrapper {
  margin-top: 15px;
}
#magicLink_OAuthButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #d6ddec;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}
#magicLink_OAuthButton img {
  width: 25px;
  height: 25px;
}
#magicLink_OAuthButton span {
  margin-left: 10px;
  font-weight: 600;
}