#login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.viewbx_wrapper {
  width: 35rem;
  padding: 30px;
}
.viewbx_wrapper .viewbx_header h2 {
  font-size: 1.9rem;
}
.viewbx_wrapper .viewbx_header p {
  font-weight: 500;
  color: var(--grey-color);
}
#input_wrapper {
  margin-top: 10px;
  width: 100% !important;
  position: relative;
}
#input_wrapper input {
  width: 100%;
  height: 45px;
  padding-left: 46px;
  border: 2px solid #bfbfbf;
  outline: none;
  border-radius: 3px;
}
#input_wrapper input:is(:active, :focus) {
  caret-color: var(--blue-second-color);
  border-color: var(--blue-second-color);
}
#input_wrapper input:is(:active, :focus) ~ i#left {
  color: var(--blue-fourth-color);
}
#input_wrapper {
  position: relative;
}
#input_wrapper i#left {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #bfbfbf;
}
#input_wrapper i#right {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #bfbfbf;
  cursor: pointer;
}
#button_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
#button_wrapper button {
  width: 100px;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--blue-fourth-color);
  color: #fff;
  cursor: pointer;
}
#button_wrapper button:is(:hover) {
  background-color: var(--blue-fifth-color);
}
#button_wrapper button i {
  transition: all 0.3s ease;
}
#button_wrapper button:hover i {
  transform: translateX(5px);
}
#pager {
  text-align: center;
}
#pager p {
  margin-top: 20px;
  font-weight: 500;
}
#pager p a {
  text-decoration: none;
  color: black;
  text-align: center;
}
#pager p a:hover {
  text-decoration: underline;
  color: var(--blue-fifth-color);
}
#ifo p {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--blue-fourth-color);
  text-align: center;
}
#magicLink_wrapper {
  margin-top: 15px;
}
#magicLink_OAuthButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #d6ddec;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}
#magicLink_OAuthButton span {
  margin-left: 10px;
  font-weight: 600;
}
#pin_box_container {
  width: 35rem;
  padding: 30px;
}
#pinBxInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
#pinBxInput input {
  width: 60px;
  height: 50px;
  padding-left: 20px;
  font-size: 1.7rem;
  border: 2px solid #bfbfbf;
  outline: none;
  border-radius: 5px;
}
#pinBxButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
}
#pinBxButton button {
  width: 100px;
  height: 45px;
  outline: none;
  background-color: var(--blue-fourth-color);
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
#pinBxButton button:hover {
  box-shadow: inset 0px 0px 28px -5px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-fifth-color);
}
@media (prefers-color-scheme: dark) {
  #input_wrapper input {
    border: 2px solid var(--charcoal-dark-color);
    background-color: var(--charcoal-dark-color);
    color: var(--alabaser-whitish-color);
  }
  #input_wrapper input::placeholder {
    color: var(--alabaser-whitish-color);
  }
  #input_wrapper input:is(:active, :focus) {
    caret-color: var(--alabaser-whitish-color);
    border-color: var(--alabaser-whitish-color);
  }
  #input_wrapper input:is(:active, :focus) ~ i#left {
    color: var(--alabaser-whitish-color);
  }
  #magicLink_OAuthButton {
    background-color: var(--dark-theme2);
    color: var(--alabaser-whitish-color);
    border: none;
  }
  #magicLink_OAuthButton:hover {
    background-color: var(--dark-blue-custom-color);
    color: var(--alabaser-whitish-color);
  }
  #pager p {
    color: var(--alabaser-whitish-color);
  }
  #pager p a {
    color: var(--alabaser-whitish-color);
  }
  #pager p a:hover {
    text-decoration: underline;
    color: var(--blue-fourth-color);
  }
  .viewbx_wrapper .viewbx_header h2 {
    color: var(--alabaser-whitish-color);
  }
  .viewbx_wrapper .viewbx_header p {
    color: var(--alabaser-whitish-color);
  }
  #pinBxInput input {
    border: 2px solid var(--charcoal-dark-color);
    background-color: var(--charcoal-dark-color);
    color: var(--alabaser-whitish-color);
  }
  #pinBxInput input::selection {
    background-color: var(--blue-fifth-color);
  }
  #pinBxInput input::placeholder {
    color: var(--alabaser-whitish-color);
  }
  #pin_box_container h2 {
    color: var(--alabaser-whitish-color);
  }
}
