:root {
  --ligth-theme: #f7f7ff;
  --dark-theme: #1b2430;
  --dark-theme2: #212c3a;
  --dark-theme3: #131B23;
  --font-choice: "Poppins";
  --smokey-black-color: #070600;
  --rasin-black-color: #212227;
  --dark-blue-custom-color: #222733;
  --alice-blue: #E9F1F7;
  --alabaser-whitish-color: #E0DFD5;
  --blue-first-color: #19647e;
  --blue-second-color: #7ca5b8;
  --blue-third-color: #38369a;
  --blue-fourth-color: #6665dd;
  --blue-fifth-color: #473bf0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-choice), sans-serif;
}
body {
  background-color: var(--ligth-theme);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme3);
  }
}
