:root {
  --ligth-theme: #F7F7FF;
  --dark-theme: #1b2430;
  --dark-theme2: #212c3a;
  --font-choice: "Poppins";
  --smokey-black-color: #070600;
  --blue-first-color: #19647E;
  --blue-second-color: #7CA5B8;
  --blue-third-color: #38369A;
  --blue-fourth-color: #6665DD;
  --blue-fifth-color: #473BF0;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-choice), sans-serif;
}
body {
  background-color: var(--ligth-theme);
}
