.blurMenu.inactive {
  position: fixed;
  top: -100%;
  scale: 0;
  pointer-events: none;
  right: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: var(--dark-theme2);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.blurMenu.active {
  position: fixed;
  top: 0;
  scale: 1;
  pointer-events: auto;
  right: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: var(--dark-theme2);
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#blur_close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 3rem;
}
#blur_close i {
  color: var(--ligth-theme);
}
#blurContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
#blurLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#blurLinks a {
  font-size: 2rem;
  color: var(--ligth-theme);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
#blurLinks a:is(:hover) {
  transform: translateY(-10px);
  margin-top: 1.3rem;
  letter-spacing: 0.4rem;
}
#blurButton button {
  width: 100%;
  padding: 13px 50px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: var(--blue-first-color);
  border-radius: 3px;
  font-weight: 500;
  color: var(--ligth-theme);
  transition: all 0.3s ease;
}
#blurButton button:hover {
  background-color: var(--blue-first-hover-color);
  box-shadow: inset 0px 6px 19px -6px rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: light) {
  .blurMenu.inactive {
    background-color: var(--alice-blue);
  }
  .blurMenu.active {
    background-color: var(--alice-blue);
  }
  #blur_close i {
    color: var(--rasin-black-color);
  }
  #blurLinks a {
    color: var(--rasin-black-color);
  }
  #blurButton button {
    background-color: var(--blue-first-color);
    color: var(--ligth-theme);
  }
}
