@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Variables storing colors  */
:root {
  --ligth-theme: #ffffff;
  --dark-theme: #1f2732;
  --dark-theme2: #151b24;
  --dark-theme3: #111417;
  --font-choice: "Poppins";
  --smokey-black-color: #070600;
  --rasin-black-color: #212227;
  --dark-blue-custom-color: #222733;
  --charcoal-dark-color: #95a2af;
  --busted-dark-color: #192028;
  --unstable-dark-color: #222831;
  --alice-blue: #e9f1f7;
  --alabaser-whitish-color: #e0dfd5;
  --not-so-white-color: #eeeeee;
  --blue-first-color: #1140a4;
  --blue-first-hover-color: #183c8a;
  --blue-second-color: #7ca5b8;
  --blue-third-color: #38369a;
  --blue-fourth-color: #6665dd;
  --blue-fifth-color: #473bf0;
  --gentle-blue-color: #bebdf0;
  --smile-for-the-camera: #a7a1f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body {
  background-color: #09071b;
  /* #100b30 */
  /* color: #4169e1; */
}
