/* Variables storing colors  */
:root {
  --ligth-theme: #f7f7ff;
  --dark-theme: #1f2732;
  --dark-theme2: #151b24;
  --dark-theme3: #111417;
  --font-choice: "Poppins";
  --smokey-black-color: #070600;
  --rasin-black-color: #212227;
  --dark-blue-custom-color: #222733;
  --charcoal-dark-color: #95a2af;
  --busted-dark-color: #192028;
  --unstable-dark-color: #222831;
  --alice-blue: #e9f1f7;
  --alabaser-whitish-color: #e0dfd5;
  --not-so-white-color: #eeeeee;
  --blue-first-color: #1140a4;
  --blue-first-hover-color: #183c8a;
  --blue-second-color: #7ca5b8;
  --blue-third-color: #38369a;
  --blue-fourth-color: #6665dd;
  --blue-fifth-color: #473bf0;
  --gentle-blue-color: #bebdf0;
  --smile-for-the-camera: #a7a1f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-choice), sans-serif;
}
body {
  background-color: var(--ligth-theme);
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-theme3);
  }
}
