#header {
  padding: 20px 65px;
  border-bottom: 1px solid rgb(61, 66, 82);
}
#header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header_cl {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#header_cl #logo {
  display: flex;
  align-items: center;
}
#header_cl #logo img {
  user-select: none;
  pointer-events: none;
}
#header_cl #logo h4 {
  color: #efefef;
  font-weight: 500;
  font-size: 1.4rem;
  user-select: none;
  font-family: "Roboto", sans-serif;
}
#links {
  display: flex;
  gap: 1.5rem;
}
#links a {
  text-decoration: none;
  color: rgb(192, 204, 241);
}
#links a:hover {
  color: #efefef;
}
#header_cr {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#header_cr button {
  padding: 13px 25px;
  outline: none;
  background-color: #3d3a59;
  border: 0.1px solid rgb(215, 222, 242);
  border-radius: 1px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
section.hero_section {
  padding: 20px 65px;
  margin-top: 5rem;
}
.hero_section .hero_content h1 {
  font-size: 5.8rem;
  color: #efefef;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.hero_section .hero_content .jc {
  color: rgb(192, 204, 241);
  font-family: "Inter", sans-serif;
}
.hero_content .heroPar {
  margin-top: 1.3rem;
  font-size: 1.2rem;
  color: rgb(192, 204, 241);
}
.hero_image {
  margin-top: 1.5rem;
}
.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.goal {
  padding: 20px 65px;
  margin-top: 5rem;
}
.goal_header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.goal_header p {
  color: #fff;
  font-family: "Space Mono", monospace;
  color: rgb(67, 227, 67);
  text-transform: uppercase;
  font-weight: 500;
}
.goal_header h2 {
  margin-top: 2rem;
  font-size: 3rem;
  /* width: 870px; */
  color: #fff;
}
.goal_image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.goal_banner {
  padding: 50px;
  background-color: #fff;
  margin-top: 1.9rem;
}
.goalText {
  text-align: center;
}
.goalText h1 {
  font-size: 4.8rem;
  margin-top: 2rem;
  color: #0d1826;
}
.goalText p {
  margin-top: 0.7rem;
  color: #10113c;
}
.goalText #goalHubspot {
  background-color: rgba(100, 53, 209, 1);
  color: #fff;
  padding: 2px 20px;
  border-radius: 20px;
}
section.store_section {
  padding: 20px 65px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store_section .k_card {
  margin-top: 3rem;
  padding: 50px;
  background-color: #fff;
}
.store_section .store_content .graphics {
  text-align: center;
}
.store_section .store_content .graphics i {
  font-size: 2rem;
  color: rgba(187, 199, 241, 0.193);
}
.k_card .kflex {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.k_card .kflex .kl img {
  width: 700px;
  height: 500px;
}
.k_card .kflex .kr h1 {
  font-size: 4.5rem;
  color: #1e293b;
}
.k_card .kflex .kr p {
  margin-top: 1.2rem;
  color: #3a4153;
}
.k_card .kflex .kr .mg {
  margin-top: 1.3rem;
}
.k_card .kflex .kr .mg button {
  padding: 20px 25px;
  outline: none;
  border: none;
  background-color: rgba(100, 53, 209, 1);
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
section.profile_section {
  padding: 20px 65px;
  margin-top: 5rem;
  position: relative;
}
section.profile_section #neon {
  position: absolute;
  top: 60px;
  right: 500px;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  border-radius: 50%;
  z-index: -1;
}
.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_container .profileMe {
  padding: 20px 35px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  position: relative;
}
.profileMe .profile img {
  border: 5px dotted rgba(12, 102, 246, 0.305);
  border-radius: 50%;
}
.profileMe .profile_content .quote i {
  font-size: 3rem;
  color: rgba(12, 102, 246, 0.305);
}
.profileMe .profile_content #testify {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: "Ubuntu", sans-serif;
}
.profile_content #creator,
#title {
  margin-top: 1rem;
  font-weight: 400;
  color: #3a4153;
}
.profile_content #title {
  margin-top: 0rem;
}
section.payment_section {
  padding: 20px 65px;
  margin-top: 5rem;
  position: relative;
}
.payment_wrapper .pyicon {
  margin-top: 3rem;
  padding: 50px;
  background-color: #fff;
  position: relative;
}
section.payment_section #neon {
  position: absolute;
  top: 190px;
  right: 500px;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(100, 53, 209, 0.9);
  border-radius: 50%;
  z-index: -1;
}
.pyicon .pyicon_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pyicon .pyicon_header h2 {
  font-size: 4.3rem;
  color: #1e293b;
}
.pyicon_header p {
  margin-top: 0.5rem;
  color: #1e293b;
}
.pyicon {
  position: relative;
}
.pyicon #arr {
  position: absolute;
  top: 0;
  right: 130px;
  /* display: none; */
}
section.sub_section {
  padding: 20px 65px;
  margin-top: 5rem;
  background: rgb(9, 7, 27);
  background: linear-gradient(
    0deg,
    rgba(9, 7, 27, 1) 45%,
    rgba(100, 53, 209, 1) 100%
  );
  border-bottom: 1px solid rgb(116, 124, 145);
}
.sub_section .sub_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.subHeader h1 {
  color: #fff;
  font-size: 2.3rem;
}
.sub_container .subscribewrapper {
  margin-top: 1.5rem;
}
.subscribewrapper .subcribeBtn {
  width: 200px;
  padding: 18px;
  border: none;
  outline: none;
  background-color: rgba(100, 53, 209, 0.9);
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
footer.footer {
  padding: 50px 65px;
  margin-top: 0rem;
  background: rgb(9, 7, 27);
  background: linear-gradient(
    29deg,
    rgba(9, 7, 27, 1) 45%,
    rgba(100, 53, 209, 1) 100%
  );
}
.footer_wrapper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_wrapper .top .tltop #info {
  color: rgb(192, 204, 241);
  font-size: 1.2rem;
}
.tltop .links {
  margin-top: 1.2rem;
  display: flex;
  gap: 2.4rem;
}
.tltop .links a {
  color: rgb(192, 204, 241);
  text-decoration: none;
  font-size: 0.9rem;
}
.tltop .links a:hover {
  color: #fff;
}
.tltop .bottom {
  margin-top: 1.2rem;
}
.tltop .bottom .bottom_links {
  display: flex;
  gap: 1rem;
  color: rgb(192, 204, 241);
}
.tltop .bottom .bottom_links a {
  color: rgb(192, 204, 241);
  text-decoration: none;
}
.tltop .bottom .bottom_links a:hover {
  color: #fff;
}
.top .tr p {
  color: rgb(192, 204, 241);
  font-size: 0.8rem;
}
#header_content .headerDropdown {
  display: none;
}
@media screen and (max-width: 967px) {
  #header_content #links {
    display: none;
  }
  #header_content #header_cr {
    display: none;
  }
  #header_content .headerDropdown {
    display: block;
  }
  #header_content .headerDropdown #icox {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .hero_section .hero_content h1 {
    font-size: 4.6rem;
  }
  .hero_content .heroPar {
    font-size: 1rem;
    color: rgb(192, 204, 241);
  }
  .goal_header h2 {
    font-size: 2.4rem;
  }
  .goalText h1 {
    font-size: 3.4rem;
  }
  .k_card .kflex {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0rem;
  }
  .k_card .kflex .kr h1 {
    font-size: 3rem;
    color: #1e293b;
    margin-top: 2rem;
  }
  .k_card .kflex .kr p {
    margin-top: 1.2rem;
    color: #3a4153;
  }
  .k_card .kflex .kl img {
    width: 100%;
    height: 400px;
  }
  .profile_container .profileMe {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    position: relative;
  }
  .profileMe .profile_content {
    margin-top: 2rem;
  }
  .profileMe .profile_content #testify {
    font-size: 1.2rem;
  }
  .pyicon .pyicon_header h2 {
    font-size: 3.6rem;
    color: #1e293b;
  }
  .pyicon #msj {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 752px) {
  .hero_section .hero_content h1 {
    font-size: 3.4rem;
  }
  .goal_header h2 {
    font-size: 2rem;
  }
  .goalText h1 {
    font-size: 2.7rem;
  }
  .k_card .kflex .kr h1 {
    font-size: 2.5rem;
  }
  .pyicon .pyicon_header h2 {
    font-size: 3rem;
    color: #1e293b;
  }
  .profileMe .profile_content #testify {
    font-size: 1rem;
  }
  .subHeader h1 {
    color: #fff;
    font-size: 2rem;
  }
  .footer_wrapper .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 536px) {
  .hero_section .hero_content h1 {
    font-size: 3rem;
  }
  .hero_content .heroPar {
    font-size: 0.9rem;
  }
  .goal_header h2 {
    font-size: 1.6rem;
  }
  .goalText h1 {
    font-size: 2rem;
  }
  .goalText p {
    font-size: 0.9rem;
  }
  .k_card .kflex .kr h1 {
    font-size: 2rem;
  }
  .k_card .kflex .kr p {
    font-size: 0.9rem;
  }
  .profileMe .profile_content #testify {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .pyicon .pyicon_header h2 {
    font-size: 2.4rem;
  }
  .pyicon .pyicon_header p {
    font-size: 0.9rem;
  }
  .subHeader h1 {
    color: #fff;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 448px) {
  .hero_section .hero_content h1 {
    font-size: 2.3rem;
  }
  .hero_content .heroPar {
    font-size: 0.8rem;
  }
  .goal_header h2 {
    font-size: 1.3rem;
  }
  .goal_image {
    margin-top: -5rem;
  }
  .goal_image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .goalText {
    margin-top: -5rem;
  }
  .goalText h1 {
    font-size: 1.7rem;
  }
  .goalText p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  .k_card .kflex .kr h1 {
    font-size: 1.6rem;
  }
  .k_card .kflex .kr p {
    font-size: 0.7rem;
  }
  .k_card .kflex .kr .mg button {
    font-size: 0.7rem;
  }
  .k_card .kflex .kl {
    margin-top: -10rem;
  }
  .k_card .kflex .kl img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  .k_card .kflex .kr {
    margin-top: -10rem;
  }
  .profileMe .profile_content #testify {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .profile_content #creator,
  #title {
    font-size: 0.8rem;
  }
  .pyicon .pyicon_header h2 {
    font-size: 1.8rem;
  }
  .pyicon .pyicon_header p {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .subHeader h1 {
    color: #fff;
    font-size: 1.3rem;
  }
  .subscribewrapper .subcribeBtn {
    width: inherit;
    padding: 18px 45px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 474px) {
  #header {
    padding: 20px 25px;
    border-bottom: 1px solid rgb(61, 66, 82);
    position: relative;
  }
  .dropdown {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    /* height: 200px; */
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  .show {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    /* height: 200px; */
    left: 0;
    top: 100px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease-in-out;
  }
  .headerDropdown .mobileLink {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .headerDropdown .mobileLink a {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    color: black;
    text-decoration: none;
  }
  section.hero_section {
    padding: 20px 25px;
    margin-top: 5rem;
  }
  .hero_section .hero_content h1 {
    font-size: 2.5rem;
  }
  .hero_content .heroPar {
    font-size: 1rem;
  }
  section.goal {
    padding: 20px 25px;
    margin-top: 5rem;
  }
  .goal_header h2 {
    font-size: 1.6rem;
  }
  .goal_image {
    margin-top: -5rem;
  }
  .goal_image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .goalText {
    margin-top: -5rem;
  }
  .goalText h1 {
    font-size: 2rem;
  }
  .goalText p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  section.store_section {
    padding: 20px 25px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .k_card .kflex .kr h1 {
    font-size: 1.9rem;
    margin-top: -0.1rem;
  }
  .k_card .kflex .kr p {
    font-size: 0.8rem;
  }
  .k_card .kflex .kr .mg button {
    font-size: 0.8rem;
  }
  .k_card .kflex .kl {
    margin-top: -10rem;
  }
  .k_card .kflex .kl img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  .k_card .kflex .kr {
    margin-top: -10rem;
  }
  section.profile_section {
    padding: 20px 25px;
    margin-top: 5rem;
    position: relative;
  }
  .profileMe .profile_content #testify {
    font-size: 1rem;
    font-weight: 400;
  }
  .profile_content #creator,
  #title {
    font-size: 1rem;
  }
  section.payment_section {
    padding: 20px 25px;
    margin-top: 5rem;
    position: relative;
  }
  .pyicon .pyicon_header h2 {
    font-size: 2.3rem;
  }
  .pyicon .pyicon_header p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  section.sub_section {
    padding: 20px 25px;
    margin-top: 5rem;
    background: rgb(9, 7, 27);
    background: linear-gradient(
      0deg,
      rgba(9, 7, 27, 1) 45%,
      rgba(100, 53, 209, 1) 100%
    );
    border-bottom: 1px solid rgb(116, 124, 145);
  }
  .subHeader h1 {
    color: #fff;
    font-size: 1.3rem;
  }
  .subscribewrapper .subcribeBtn {
    width: inherit;
    padding: 18px 45px;
    font-size: 1rem;
  }
  footer.footer {
    padding: 50px 25px;
    margin-top: 0rem;
    background: rgb(9, 7, 27);
    background: linear-gradient(
      29deg,
      rgba(9, 7, 27, 1) 45%,
      rgba(100, 53, 209, 1) 100%
    );
  }
  footer.footer .tr {
    margin-top: 1rem;
  }
}
