#App {
  position: relative;
}
#header {
  position: fixed;
  width: 100%;
  padding: 25px 60px;
  background-color: var(--dark-theme2);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
#header_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#logo {
  display: flex;
  align-items: center;
  transition: cubic-bezier(1, -0.1, 0.63, 0.81) 0.3s;
  overflow: hidden;
}
#logo h4 {
  color: var(--alabaser-whitish-color);
  font-size: 1.6rem;
  font-weight: 500;
}
#logo:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
#header_cr {
  display: flex;
  align-items: center;
  justify-content: center;
}
#links {
  margin-right: 2rem;
}
#links a {
  font-size: 1.2rem;
  margin-left: 1rem;
  text-decoration: none;
  color: var(--alabaser-whitish-color);
  font-weight: 400;
  transition: all 0.3s ease;
}
#links a:hover {
  color: var(--gentle-blue-color);
}
#button {
  width: 100%;
}
#button button {
  width: 100%;
  padding: 13px 30px;
  outline: none;
  border: none;
  background-color: var(--blue-first-color);
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--alabaser-whitish-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
#button button:hover {
  background-color: var(--blue-first-hover-color);
}
#main {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 60px;
}
#main #c4_lc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 8rem;
}
#main #c4_lc h1 {
  background: #9f95c4;
  background: linear-gradient(to right, #9f95c4 0%, #7c87a1 56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 500;
}
#main #c4_lc p {
  font-size: 1.2rem;
  color: var(--charcoal-dark-color);
  font-weight: 400;
  margin-top: 1rem;
}
#c4_op {
  width: 100%;
  height: 100%;
}
#c4_op img {
  margin-top: 1.1rem;
}
#main #c4_lc button {
  padding: 20px 40px;
  margin-top: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  background-color: var(--blue-first-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--alabaser-whitish-color);
}
#main #c4_lc button:hover {
  background-color: var(--blue-first-hover-color);
}
#features {
  width: 100%;
  height: 100%;
  background-color: var(--dark-theme2);
  padding: 25px 60px;
}
#features h3#your_heading1 {
  font-size: 1.2rem;
  color: var(--alabaser-whitish-color);
  font-weight: 500;
  text-align: center;
  background-color: var(--dark-blue-custom-color);
  border-radius: 20px;
}
#features h1#your_heading {
  font-size: 2.2rem;
  color: var(--alabaser-whitish-color);
  font-weight: 500;
  text-align: center;
  margin-top: 1.1rem;
}
#features_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.3rem;
}
#card {
  width: 39rem;
  padding: 2rem;
  background-color: var(--unstable-dark-color);
  border-radius: 3px;
  border: 1px solid #485362;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#card li {
  color: var(--alabaser-whitish-color);
}
#MyProfile {
  position: relative;
}
#edit-box {
  position: absolute;
  top: 0;
}
#card i {
  font-size: 3rem;
  background-color: var(--blue-first-hover-color);
  color: #d8d8d8;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#card h1 {
  color: var(--alabaser-whitish-color);
  margin-top: 1.2rem;
}
#card p {
  color: #afb9c3;
  margin-top: 1rem;
}
#security {
  width: 100%;
  height: 100%;
  background-color: var(--unstable-dark-color);
  padding: 25px 60px;
}
#security h1#hd {
  font-size: 2.2rem;
  color: var(--alabaser-whitish-color);
  font-weight: 500;
  text-align: center;
}
#security p#brief {
  margin-top: 1rem;
  color: var(--alabaser-whitish-color);
  font-size: 0.9rem;
  text-align: justify;
  text-align: center;
}
#secure_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
#sCard {
  width: 40rem;
  padding: 2rem;
  background-color: var(--dark-theme2);
  border-radius: 3px;
  border: 1px solid #485362;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#sCard i {
  font-size: 3rem;
  background-color: var(--blue-first-hover-color);
  color: #d8d8d8;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#sCard h1 {
  color: var(--alabaser-whitish-color);
  margin-top: 1rem;
}
#sCard p {
  color: #afb9c3;
  margin-top: 1rem;
}
#intx {
  width: 100%;
  height: 100%;
  background-color: #3f3dac;
  padding: 25px 60px;
}
#intx h1#int_text {
  font-size: 2.3rem;
  color: var(--alabaser-whitish-color);
  font-weight: 600;
  text-align: center;
  position: relative;
}
#intx h1#int_text::before {
  content: "\23";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--charcoal-dark-color);
}
#intx h1#int_text::after {
  content: "\23";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--charcoal-dark-color);
}
#intx p#in_p {
  margin-top: 1rem;
  color: #e9edf2;
  font-size: 0.8rem;
  /* word-break: break-all; */
  text-align: justify;
  text-align: center;
}
#in_cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
#in_cardco {
  width: 40rem;
  padding: 2rem;
  background-color: var(--alice-blue);
  border-radius: 3px;
  border: 1px solid #edf1f7;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
#icon i {
  font-size: 3rem;
  background-color: var(--blue-first-hover-color);
  color: var(--ligth-theme);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#in_cardco h1 {
  color: var(--busted-dark-color);
  margin-top: 1rem;
}
#in_cardco p {
  color: var(--busted-dark-color);
  margin-top: 1rem;
}
#pricingPage {
  width: 100%;
  height: 100%;
  background-color: var(--unstable-dark-color);
  padding: 25px 60px;
}
#prcingHeader {
  text-align: center;
}
#prcingHeader #prcing_p {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--ligth-theme);
}
#prcingHeader #pricing_hd {
  color: var(--alice-blue);
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
#prcingHeader #prcing_pt {
  color: var(--ligth-theme);
  margin-top: 0.6rem;
}
#pr_card_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
#pricing_card {
  width: 43rem;
  padding: 2rem;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid var(--blue-fourth-color);
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
}
#pricing_card:nth-child(3) {
  background-color: var(--blue-fifth-color);
}
#pricing_card #plan_header {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--ligth-theme);
}
#pricing_card #price {
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--ligth-theme);
}
#pricing_card #price_tag {
  color: var(--alice-blue);
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}
#pricing_card li {
  list-style-type: square;
  color: var(--alice-blue);
  margin-top: 1rem;
}
#signup {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 25px 60px;
}
#ponent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#ponent #signup_text {
  font-size: 2.7rem;
  font-weight: 500;
  color: var(--alabaser-whitish-color);
}
#ponent #signup_text2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--alabaser-whitish-color);
}
#call_to_action {
  margin-top: 2rem;
}
#call_to_action #u73 {
  padding: 15px 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(
    45deg,
    hsl(244deg 86% 59%) 0%,
    hsl(244deg 79% 57%) 11%,
    hsl(244deg 73% 55%) 22%,
    hsl(243deg 66% 53%) 33%,
    hsl(243deg 61% 52%) 44%,
    hsl(243deg 56% 50%) 56%,
    hsl(243deg 54% 48%) 67%,
    hsl(242deg 52% 45%) 78%,
    hsl(242deg 50% 43%) 89%,
    hsl(241deg 48% 41%) 100%
  );
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--alabaser-whitish-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#call_to_action #u73:hover {
  box-shadow: 0px 0px 36px 0px rgb(64, 56, 214);
}
#footer {
  background-color: var(--dark-theme2);
  width: 100%;
  height: 100%;
  padding: 25px 60px;
}
#footer #fri {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#fl_left {
  display: flex;
  align-items: center;
}
#fl_uni h3 {
  font-size: 2rem;
  color: var(--alabaser-whitish-color);
  font-weight: 600;
}
#fl_right #tx {
  font-size: 1rem;
  color: #a2b4ce;
}
#fl_right #follow {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#fl_right #follow #fwl p {
  font-size: 1.1rem;
  color: #a2b4ce;
}
#fl_right #follow #fwr {
  margin-left: 1.2rem;
}
#fl_right #follow #fwr i {
  font-size: 1.3rem;
  margin-right: 1.3rem;
  color: #a2b4ce;
  cursor: pointer;
}
#fr #letter {
  color: var(--alabaser-whitish-color);
}
#fr #lx {
  margin-top: 0.5rem;
  color: var(--alabaser-whitish-color);
}
#input {
  margin-top: 0.9rem;
  display: flex;
  position: relative;
}
#input input {
  width: 100%;
  padding: 15px 28px;
  border-radius: 3px;
  outline: none;
  border: 1px solid var(--charcoal-dark-color);
  background-color: var(--unstable-dark-color);
  color: var(--alabaser-whitish-color);
  font-size: 1.1rem;
}
#input input:is(:focus, :active) {
  box-shadow: inset 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
}
#input #send {
  position: absolute;
  top: 0.3rem;
  right: 0.2rem;
  background-color: var(--blue-third-color);
  font-size: 1.1rem;
  color: var(--alabaser-whitish-color);
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 3px;
}
#footer #copyright {
  margin-top: 3rem;
  width: 100%;
  position: relative;
}
#footer #copyright::before {
  content: "";
  position: absolute;
  top: -1rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--charcoal-dark-color);
}
#footer #copyright span {
  color: var(--alice-blue);
}
#footer #copyright span a {
  color: var(--alice-blue);
  text-decoration: underline;
  text-decoration-style: wavy;
}
#harmburger i {
  color: var(--alabaser-whitish-color);
  font-size: 2rem;
  display: none;
}
@media screen and (max-width: 767px) {
  #links,
  #button {
    display: none;
  }
  #harmburger i {
    display: block;
  }
}
@media screen and (max-width: 958px) {
  #main #c4_lc {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 738px) {
  #main #c4_lc h1 {
    font-size: 2.3rem;
  }
  #main #c4_lc p {
    font-size: 1rem;
  }
  #bottom h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  #bottom #lists {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  #bottom #lists #list {
    width: 20rem;
    padding: 2rem;
  }
  #lists #list h3 {
    font-size: 1.2rem;
  }
  #lists #list p {
    font-size: 0.9rem;
  }
  #features_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 1.3rem;
  }
  #features h1#your_heading {
    font-size: 2.2rem;
  }
  #card {
    width: 20rem;
    padding: 2rem;
  }
  #card h1 {
    font-size: 1.2rem;
  }
  #card p {
    font-size: 0.9rem;
  }
  #secure_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 3rem;
  }
  #sCard {
    width: 20rem;
    padding: 2rem;
  }
  #security h1#hd {
    font-size: 2.2rem;
  }
  #sCard h1 {
    font-size: 1.2rem;
  }
  #sCard p {
    font-size: 0.9rem;
  }
  #intx h1#int_text {
    font-size: 1.8rem;
  }
  #intx h1#int_text::before {
    content: "\23";
    position: absolute;
    top: 0;
    left: -30px;
    color: var(--charcoal-dark-color);
  }
  #intx h1#int_text::after {
    content: "\23";
    position: absolute;
    top: 0;
    right: -30px;
    color: var(--charcoal-dark-color);
  }
  #intx p#in_p {
    font-size: 0.9rem;
  }
  #in_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #in_cardco {
    width: 20rem;
    padding: 2rem;
  }
  #in_cardco h1 {
    font-size: 1.2rem;
  }
  #in_cardco p {
    font-size: 0.9rem;
  }
  #ponent #signup_text {
    font-size: 1.6rem;
  }
  #ponent #signup_text2 {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
  #fl_uni h3 {
    display: none;
  }
  #fl_right #follow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  #fl_right #follow #fwr i {
    margin-right: 1.3rem;
  }
  #fl_right #follow #fwr {
    margin-left: 0rem;
    margin-top: 1.2rem;
  }
  #fr #letter {
    margin-top: 2rem;
    color: var(--alabaser-whitish-color);
  }
  #logo h4 {
    display: none;
  }
  #header {
    padding: 18px 30px;
  }
  #footer #copyright span {
    font-size: 0.9rem;
  }
  #fr #lx {
    font-size: 0.8rem;
  }
  #prcingHeader #prcing_p {
    font-size: 1.2rem;
  }
  #prcingHeader #pricing_hd {
    font-size: 1.7rem;
  }
  #prcingHeader #prcing_pt {
    font-size: 0.8rem;
  }
  #pricing_card #plan_header {
    font-size: 1.1rem;
  }
  #pricing_card #price {
    font-size: 2rem;
  }
  #pricing_card #price_tag {
    font-size: 1rem;
  }
  #pricing_card li {
    font-size: 0.9rem;
  }
  #pr_card_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #pricing_card {
    width: 20rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 528px) {
  #main #c4_lc h1 {
    font-size: 2rem;
  }
  #main #c4_lc p {
    font-size: 0.8rem;
  }
}
@media (prefers-color-scheme: light) {
  #header {
    background-color: var(--ligth-theme);
  }
  #logo h4 {
    color: var(--unstable-dark-color);
    font-size: 1.6rem;
    font-weight: 500;
  }
  #links a {
    font-size: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--unstable-dark-color);
    font-weight: 400;
    transition: all 0.3s ease;
  }
  #links a:hover {
    color: var(--busted-dark-color);
  }
  #button button {
    background-color: var(--blue-first-color);
    color: var(--ligth-theme);
  }
  #main #c4_lc h1 {
    background: #4a20f3;
    background: linear-gradient(to right, #4a20f3 0%, #2058f3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #main #c4_lc p {
    color: var(--dark-blue-custom-color);
  }
  #main #c4_lc button {
    background-color: var(--blue-first-color);
    color: var(--ligth-theme);
  }
  #main #c4_lc button:hover {
    background-color: var(--blue-first-hover-color);
  }
  #features h3#your_heading1 {
    color: var(--smokey-black-color);
    background-color: #6765dd37;
  }
  #features {
    background-color: var(--alice-blue);
  }
  #features h1#your_heading {
    color: var(--busted-dark-color);
  }
  #card {
    background-color: var(--ligth-theme);
    border: 1px solid transparent;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  #card i {
    background-color: var(--blue-first-hover-color);
    color: var(--ligth-theme);
  }
  #card h1 {
    color: var(--dark-blue-custom-color);
    margin-top: 1.2rem;
  }
  #card p {
    color: var(--unstable-dark-color);
    margin-top: 1rem;
  }
  #card li {
    color: var(--dark-blue-custom-color);
  }
  #security {
    background-color: var(--ligth-theme);
  }
  #security h1#hd {
    color: var(--dark-blue-custom-color);
  }
  #security p#brief {
    color: var(--rasin-black-color);
  }
  #sCard {
    background-color: var(--ligth-theme);
    border: 1px solid transparent;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
  }
  #sCard i {
    background-color: var(--blue-first-hover-color);
    color: var(--ligth-theme);
  }
  #sCard h1 {
    color: var(--dark-blue-custom-color);
    margin-top: 1rem;
  }
  #sCard p {
    color: var(--unstable-dark-color);
    margin-top: 1rem;
  }
  #intx {
    width: 100%;
    height: 100%;
    background-color: rgb(71, 69, 195);
    padding: 25px 60px;
  }
  #pricingPage {
    width: 100%;
    height: 100%;
    background-color: #2d3868;
    padding: 25px 60px;
  }
  #signup {
    background-color: var(--ligth-theme);
  }
  #ponent #signup_text {
    color: var(--dark-blue-custom-color);
  }
  #ponent #signup_text2 {
    color: var(--rasin-black-color);
  }
  #call_to_action {
    margin-top: 2rem;
  }
  #call_to_action #u73 {
    background-image: linear-gradient(
      45deg,
      hsl(244deg 86% 59%) 0%,
      hsl(244deg 84% 61%) 11%,
      hsl(244deg 82% 63%) 22%,
      hsl(244deg 80% 65%) 33%,
      hsl(244deg 78% 66%) 44%,
      hsl(244deg 74% 68%) 56%,
      hsl(244deg 71% 69%) 67%,
      hsl(244deg 66% 71%) 78%,
      hsl(244deg 61% 72%) 89%,
      hsl(244deg 56% 74%) 100%
    );
    color: var(--ligth-theme);
  }
  #call_to_action #u73:hover {
    box-shadow: 0px 0px 36px 0px rgb(64, 56, 214);
  }
  #footer {
    background-color: var(--alice-blue);
  }
  #fl_uni h3 {
    color: var(--rasin-black-color);
  }
  #fl_right #tx {
    color: var(--unstable-dark-color);
  }
  #fl_right #follow #fwl p {
    font-size: 1.1rem;
    color: var(--dark-blue-custom-color);
  }
  #fl_right #follow #fwr i {
    color: var(--rasin-black-color);
  }
  #fr #letter {
    color: var(--rasin-black-color);
  }
  #fr #lx {
    color: var(--rasin-black-color);
  }
  #input input {
    border: 1px solid var(--charcoal-dark-color);
    background-color: #ffffff;
    color: var(--rasin-black-color);
  }
  #input input::placeholder {
    color: var(--smokey-black-color);
  }
  #input input:is(:focus, :active) {
    box-shadow: inset 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
  }
  #input #send {
    background-color: var(--blue-fifth-color);
    color: var(--ligth-theme);
  }
  #footer #copyright::before {
    background-color: var(--charcoal-dark-color);
  }
  #footer #copyright span {
    color: var(--dark-blue-custom-color);
  }
  #footer #copyright span a {
    color: var(--dark-blue-custom-color);
  }
  #harmburger i {
    color: var(--rasin-black-color);
  }
}
