.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.pagerwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.pagerwrapper h1 {
  color: #fff;
  font-size: 1.5rem;
  padding-right: 20px;
  font-weight: 600;
  border-right: 1px solid #fff;
}
.pagerwrapper p {
  color: #fff;
}
@media screen and (max-width: 313px) {
  .pagerwrapper h1 {
    border-right: 1px solid transparent;
  }
}
